header {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-highlight);
  padding-inline: 1em;
  padding-block: .5em;
  grid-area: 1 / 1 / 2 / 3;
}

/* https://itnext.io/how-to-make-a-fancy-inverted-border-radius-in-css-5db048a53f95 */
header::before {
  content: "";
  position: absolute;

  top: 4em;
  left: 4em;
  height: 50px;
  width: 25px;
  border-top-left-radius: 25px;
  box-shadow: 0 -25px 0 0 var(--bg-highlight);
}

nav {
  display: flex;
}

.logo-container {
  display: flex;
  align-items: center;
}

ul.navlinks-container {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 2em;
  list-style-type: none;
}

li img {
  aspect-ratio: 1 / 1;
  width: 2em;
  height: auto;
  transition: transform 150ms ease-out;

  &:hover,
  &:focus-within {
    transform: scale(1.25);
  }

  &:not(:hover) {
    transform: scale(1);
  }
}
