header {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-highlight);
  padding-inline: 1em;
  padding-block: .5em;
  grid-area: 1 / 1 / 2 / 3;
}

nav {
  display: flex;
}

.logo-container {
  display: flex;
  align-items: center;
}

ul.navlinks-container {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 2em;
  list-style-type: none;
}

li img {
  aspect-ratio: 1 / 1;
  width: 2em;
  height: auto;
  transition: transform 150ms ease-out;

  &:hover,
  &:focus-visible {
    transform: scale(1.25);
  }

  &:not(:hover) {
    transform: scale(1);
  }
}
