<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta name="google-site-verification" content="QVdp83jS-PldpMm1mki9mNymeRbxwrjFp0-1jBCpSiI" />
  <meta name="description" content="My personal blog in GitHub Pages" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="UTF-8" />

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <title>headquarter8302</title>

  <link rel="stylesheet" href="/resource/style/styles.css" />
  <script src="/resource/script/script.js" defer></script>
</head>

<body id="blog">
  <main>
    <section>
      {% include returnhome.html %}
      <h1>Blogs</h1>
      <p>List of all my blog posts</p>

    </section>
    <hr>
    <section id="bloglist">
      <ul>
        {% for page in site.posts %}
        <li class="post-link">
          <a href="/blog{{ page.url }}">{{ page.title }}</a>
          (<span class="post-tags">{{ page.tags }}</span>) -
          <span class="post-date">{{ page.created_at | date: "%B %d, %Y" }}</span>
        </li>
        {% endfor %}
      </ul>
    </section>
  </main>

  {% include footer.html %}
</body>

</html>