ul.blog-list {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  gap: 2.5vh;

  list-style-type: none;

  li {
    background-color: var(--bg-highlight);
    padding: 1em;
    border-radius: 8px;
    width: 25em;
    height: auto;
    aspect-ratio: 2/1;

    a {
      font-size: 120%;
    }
  }
}

h1 {
  color: hsl(var(--heading-hsl-deg), 50%, 75%);
  animation: h1-anim 10s linear infinite;
  font-size: 3em;
}
