ul {
  display: flex;
  flex-flow: wrap;
  gap: 2.5vh;
  padding-block-end: var(--content-block-padding);
  padding-inline: var(--content-inline-margin);
  margin-block-start: 3em;

  list-style-type: none;
}

h1 {
  color: hsl(var(--heading-hsl-deg), 50%, 75%);
  animation: h1-anim 10s linear infinite;
  font-size: 3em;
}

li {
  backdrop-filter: var(--section-brightness);
  padding: 1em;
  border-radius: 8px;
  width: 17em;
  aspect-ratio: 1/1;
  will-change: contents;
  transition:
    transform 150ms,
    filter 150ms;

  a {
    font-size: 120%;
  }
}

li:hover {
  transform: scale(1.1) translateY(-2.5%);
  filter: saturate(2);
}

li:has(~ li:hover),
li:hover~li {
  filter: opacity(0.25);
}