@font-face {
  font-family: 'Inter';
  src: url('/assets/font/inter/Inter-VariableFont_opsz,wght.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/font/inter/Inter-Italic-VariableFont_opsz,wght.ttf');
  font-style: italic;
}

@media (prefers-reduced-motion) {
  * {
    transition: none !important;
    animation: none !important;
  }
}

@media (prefers-contrast: more) {
  * {
    background-color: black !important;
    color: white !important;
  }

  a {
    outline: 1px solid blue;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 15px;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg: rgb(14, 14, 14);
  --fg: whitesmoke;

  --heading-size: max(2em, 3vw);
  --emphasis-size: max(2em, 2vw);

  --content-inline-margin: 15%;
  --content-block-padding: 5vw;
  --fader-height: 2.5vh;

  --section-brightness: brightness(1.5);

  scrollbar-color: var(--font-c) var(--bg-color-static);
}

/* Light theme */
@media (prefers-color-scheme: light) {
  :root {
    --bg: rgb(233, 233, 233);
    --fg: rgb(10, 10, 10);
  }

  pre {
    filter: invert(1) hue-rotate(180deg);
  }
}

::selection {
  text-decoration: underline;
  background-color: var(--fg);
  color: var(--bg);
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: 'Inter', sans-serif;

  /* transition: background-color 1s; */
  animation: bg-anim 120s linear infinite;
}

a {
  color: inherit;
  text-decoration: underline;
  font-weight: bold;
}

#homelink {
  margin-block-start: 2em;
  margin-inline: 10vw;
}

p {
  line-height: 1.7;
  margin-block-end: 1em;
}

.fill-viewport-full {
  height: 100vh;
}

.fill-viewport-half {
  height: 50vh;
}

.noinvert {
  filter: invert(0) !important;
}

code:not(~ pre) {
  background-color: var(--bg-color-static);
  padding: .25em;
  outline: 1px solid gray;
  border-radius: 4px;
}
