/*
* CSS INFO
* BREAKPOINT: 500px.
* RESPONSIVE: TRUE.
* AUTHOR: headquarter8302, W3Schools <https://www.w3schools.com>.
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&display=swap');

/* Meta styles... */
:root {
  overflow-x: hidden;
  background-image: linear-gradient(to right, black, #303030);
  color: #fff;
  transition: all 1s;
  font-family: "Open Sans", sans-serif;
  --accent-colour: linear-gradient(left, orange, blue, purple);
  --webkit-accent-colour: -webkit-linear-gradient(left, orange, blue, purple);
  --gray-colour: #303030;
}

html {
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  box-shadow: black 0 0 5px inset;
}

::-webkit-scrollbar-thumb {
  background: var(--gray-colour);
  cursor: pointer;
  box-shadow: black 0 0 5px inset;
}

::selection {
  background-color: rgba(128,0,128,0.2) !important;
}

/* ...then actual styles */
@keyframes intro {
  from {opacity: 0;transform: translate(0,-5%);}
  to {opacity: 1;transform: translate(0,0);}
}

a {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

a[href*="//"]:not([href*="headquarter8302.github.io"])::after {
    content: "";
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/2/25/External.svg');
}

#nav-container {
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 100%;
}

.nav-button {
  margin-top: 10px;
  padding: 10px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  transition: all 0.1s;
  font-size: 1em;
}

.nav-button:hover {
  transform: scale(1.1);
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid white;
}

#intro-box {
  animation: intro 1s;
  box-shadow: 1px 5px 5px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 15px;
  display: flex;
  background-color: black;
}

#title {
  font-family: Arial, sans-serif;
  font-weight: 900;
  font-size: 7vw;
  margin-right: 5px;
  background: var(--webkit-accent-colour);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#info {
  width: auto;
  border-left: 1px solid;
  padding-left: 5px;
  font-size: 1.2vw;
}

#info a {
  color: white;
}

.box {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
  margin-block: 3%;
  border-radius: 10px;
  background-color: var(--gray-colour);
}

.title {
  color: white;
  padding-left: 30px;
  margin-left: 5px;
  border-left: 25px solid;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 4vw;
}

.content {
  color: black;
  margin: 10px;
  font-size: 2vw;
}

.small {
    font-size: small;
}

.big {
    font-size: large;
}
h2 {
    font-family:"Montserrat", sans-serif;
    border-bottom: 4px solid white;
    color: white;
}

h3 {
    border-bottom: 2px solid white;
    font-family:"Montserrat", sans-serif;
    color: white;
}

pre {
    background-color: black;
    color: #F5F5F5;
    padding: 10px;
    margin: 10px;
}

.box pre {
  font-size: xx-large;
}

hr {
  height: 10px;
  background: var(--accent-colour);
  border: none;
}
