---
import Main from "../layouts/Main.astro";

import { BodyIdentifiers } from "../..";
---

<Main title="headquarter8302" bodyId={BodyIdentifiers.Main}>
  <h1>Hellou</h1>
  <br />
  <h2>I'm Markus (headquarter8302)</h2>
  <p>
    I've been constantly remodelling my site, and this is its, what, 4th
    iteration?
  </p>
  <p>
    Use the links on the header to navigate. Be mindful of broken or unfinished
    pages.
  </p>
  <br />
  <h2>Contact</h2>
  <p>Here are some ways to contact me, in order of preference:</p>
  <ol>
    <li>Discord: <code>headquarter8302</code></li>
    <br />
    <li>
      GitHub: <a href="https://github.com/headquarter8302"
        ><code>/headquarter8302</code></a
      >. The GitHub link at the header also works
    </li>
    <br />
    <li>
      <a href="https://community.fandom.com/wiki/User:Headquarter8302">Fandom</a
      > + everywhere else: headquarter8302
    </li>
  </ol>
</Main>
