---
const { title } = Astro.props;
---

<head>
  <script src="../scripts/global.ts"></script>
  <meta
    name="google-site-verification"
    content="QVdp83jS-PldpMm1mki9mNymeRbxwrjFp0-1jBCpSiI"
  />
  <meta name="description" content="My personal site in GitHub Pages" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="UTF-8" />

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

  <link
    rel="alternate"
    href={new URL("feed.xml", Astro.site)}
    type="application/rss+xml"
    title="Mark's Blog"
  />
  <title>{title}</title>
</head>
