---
import { RootPages } from "../..";
const { link, text } = Astro.props;

interface Props {
  link?: RootPages | URL | string
  text?: string
}
---

<div id="homelink">
  &lt; <a href={link ?? (link ? link : RootPages.Index)}
    >Return {text ?? (text ? text : "home")}</a
  >
</div>
