---
const { plain, ...properties } = Astro.props;

let backdrop = plain ? "0" : "var(--section-brightness)";
---

<style define:vars={{ backdrop }}>
  section {
    padding-block: var(--content-block-padding);
    padding-inline: var(--content-inline-margin);
  }

  section:nth-of-type(odd) {
    backdrop-filter: var(--backdrop);
  }
</style>
<section {...properties}>
  <slot />
</section>
