---
const { videoId, width, height } = Astro.props;
interface Props {
	videoId: string | null
	width?: string | number
	height?: string | number
}
---
<div class="youtube-player">
	<pre>
		{(!videoId) ? "Not implemented" : null}
	</pre>
</div>
