---
import FooterLicenseText from "./FooterLicenseText.astro";

import "../../styles/components/Footer.css";
---

<footer>
  <p>Generated using Astro {Astro.generator.split(" ")[1].slice(1)}</p>
  <FooterLicenseText />
</footer>
