<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta name="google-site-verification" content="QVdp83jS-PldpMm1mki9mNymeRbxwrjFp0-1jBCpSiI" />
  <meta name="description" content="My personal blog in GitHub Pages" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="UTF-8" />

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <title>{{ page.title  }} - headquarter8302</title>

  <link rel="stylesheet" href="/resource/style/styles.css" />
  <script src="/resource/script/script.js" defer></script>
</head>

<body id="blog" class="blog-post">
  <main>
    <article>
      <header>
        <hgroup>
          <h1>{{ page.title }}</h1>
          <h2>{{ page.description }}</h2>
        </hgroup>
        <div class="date">{{ page.published_at }}</div>
        <div class="tags">{{ page.tags }}</div>
      </header>
      {{ content }}
    </article>
    <hr>

  </main>

  <footer>
    <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/" class="copyclick" id="license"
      title="Click/tap to copy license information"
      data-license-text="This webpage's visual design, code, and contents © 2025 by Markus (headquarter8302) is licensed under CC BY 4.0. To view a copy of this license, visit https://creativecommons.org/licenses/by/4.0/">
      <span property="dct:title">This
        webpage's visual design, code, and contents</span> by <a rel="cc:attributionURL dct:creator"
        property="cc:attributionName" href="https://headquarter8302.github.io/">Markus (headquarter8302)</a> are
      licensed
      under <a href="https://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank"
        rel="license noopener noreferrer" style="display:inline-block;">CC BY 4.0<img
          style="height:1.25em!important;margin-left:3px;vertical-align:text-bottom;"
          src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img
          style="height:1.25em!important;margin-left:3px;vertical-align:text-bottom;"
          src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt=""></a>
    </p>
  </footer>
</body>

</html>