---
import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";
import GlobalStyles from "../components/styles/GlobalStyles.astro";
import type { BodyIdentifiers } from "../..";

interface Props {
  title: string,
  bodyId: BodyIdentifiers
}

const { title, bodyId } = Astro.props;
---

<!doctype html>
<html lang="en-US" dir="ltr">
  <GlobalStyles />
  <Head title={title} />
  <body id={bodyId}>

  </body>
  <slot />
  <Footer />
</html>
